<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prankster.sstest">

    <!-- Activity recognition requires its own permission -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!-- Weather snapshots depend on this permission -->
    <!-- 상세 위치 권한-->
    <!-- 대략적 위치 권한만 필요시 : <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyC0_LakStJ0RMqdXemyNpJCdFNRPCTvYWI" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0_LakStJ0RMqdXemyNpJCdFNRPCTvYWI" />
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>